/*
.axis text {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.bartext {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}*/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

.chart_container{
  width:300px;
  height:350px;
}

/*
.bar {
  fill: steelblue;
}

.line {
fill: none;
}
*/

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}


svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
path.domain {
  stroke: none;
}
*/

.y .tick line {
  stroke: #ddd;
}

.btn { width:140px;}

.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; min-height: 110px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

.movecursor {cursor: move;}

.checkbox_container {
    margin-bottom: 5px;
}

.options_container{
  min-width:320px;
}

td {
    padding: 2px;
}

body{
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
